

.aboutimage-item-upper-right{
  max-width: 50%;
}


.image{
  width: 100%;
  
}

.about-grid-item-upper-left {
  margin: 20px;
  width: auto;
  
}
@media screen and (max-width: 960px) {
  .aboutsection-grid-container-upper
  {
      display: flex;                  /* establish flex container */
      flex-direction: column;
      align-items: center;
      
  }

}


.aboutsection-grid-container-upper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #242424;
  
}

.about-grid-item-upper-left h1 {
  color: white;
  font-size: 55px;
  text-align: center;
  padding: 20px;
}

.about-grid-item-upper-left-p1 {
  padding: 20px;
  color: white;
  font-size: 30px
}

.about-grid-item-upper-left-p2 {
  padding: 20px;
  color: white;
  font-size: 20px
}







