.aboutsection-grid-container-upper {
  background-color: #242424;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.about-grid-item-upper-right{
  background:rgb(0,0,0,0.4) url('/public/images/about.avif') center center/cover no-repeat;
  background-blend-mode: darken;
}

@media (max-width: 960px) {
  .aboutsection-grid-container-upper { 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); 
  }
}

.about-grid-item-upper-left h1 {
  color: white;
  font-size: 55px;
  text-align: center;
  padding: 20px;
}

.about-grid-item-upper-left-p1 {
  padding: 20px;
  color: white;
  font-size: 30px
}

.about-grid-item-upper-left-p2 {
  padding: 20px;
  color: white;
  font-size: 20px
}







